@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
  margin:0;
  padding: 0;
  width:100%;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Teachers", sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h1, h2, h3 {
  text-align: center;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: "Rock Salt", cursive;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  padding: 20px 0;
  margin-top: 2rem;
  font-family: "Teachers", sans-serif;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 250px;
  margin-left: 50px;
}

.navbar-light {
  margin-bottom: 2rem;
  min-height: 8rem;
  padding-right: 30px;
  padding-left: 30px;
}

.nav-link {
  font-family: "Teachers", sans-serif;
  font-size: 1.50rem;
  color: rgb(60, 53, 53) !important;
  padding-right: 20px !important;
  padding-left: 5px !important;
}


.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.navStyle {
  min-height: 80px;
  margin-bottom: 20px;
}

.photo {
  width: 1250px;
}

.headerRow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-header {
  font-family: "Rock Salt", cursive;
  }

  .modal-footer {

    text-align: center;
    margin: auto 0;
  }
